.float_img {
            float:left;
            width: 50%;
            height: 50%;
}

.img_margin {
           margin:15px; 
           width: 70%;
           height: 70%;
}

.img_margin_comp {
    margin:15px; 
    width: 90%;
    height: 90%;
}

body {
    background-color:whitesmoke;
    font-family:Georgia;
    font-size: 15px;
    
}

.div_position {
    margin-top: 50px;
}

.white_background {
    background-color: white;
}

img {
    object-position: center;
    
}

h1 {
    color: cadetblue;
    letter-spacing: .4px;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    color: cadetblue;
    letter-spacing: .4px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}



.nav_header {
    background-color: cadetblue;
    font-family:georgia;
    font-size: 25px;
    font-style: normal;
    color: rgb(253, 252, 246);
    padding:10px;
}

th {
    text-align: left;
}
